<router-outlet></router-outlet>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <ng-sidebar-container>

        <ng-sidebar id="sidebar" position="left" animate="true" [opened]="opened" mode="push">
            <div class="container">
                <div class="row" style="float: left;">
                    <fa-icon transform="grow-30" style="color: white;padding: 20px 20px;" id="profile" [icon]="faUser">
                    </fa-icon>
                </div>
                <div class="row" style="float: center;padding: 20px 40px;">
                    <h4 id='profile' class="font-weight-bold" style="font-family: 'Barlow', sans-serif;">
                        <a href="/dashboard" id="gw">gw</a><a
                            style="font-weight:500;color: black;text-shadow: 1px 1px #0066be;"
                            href="/dashboard">Donator</a></h4>
                </div>
            </div>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" active [routerLink]="['/dashboard']"><a>
                        <i style="position: absolute; left: 0px;" class="material-icons">home</i>
                        Home</a></li>
                <li class="list-group-item" [routerLink]="['/dashboard/doacoes']"><a>
                        <i style="position: absolute; left: 0px;" class="material-icons">redeem</i>
                        Doações</a></li>

                <li class="list-group-item" [routerLink]="['/conta']"><a>
                        <i style="position: absolute; left: 0px;" class="material-icons">account_box</i>
                        Conta</a></li>
            </ul>


        </ng-sidebar>

        <div ng-sidebar-content>
            <header>
                <button type="button" class="btn btn-default" aria-hidden="true" id="arrow" (click)="toggleSidebar()">
                    <fa-icon transform="grow-20" style="color: white;" [icon]="arrow"></fa-icon>
                </button>
                <span style="padding-left: 10px ;">Doacões</span>
            </header>
            <section>
                <div class="container center">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"><h3>Cod.Doação</h3></th>
                                <th scope="col"><h3>Doador</h3></th>
                                <th scope="col"><h3>Instituição</h3></th>
                                <th scope="col"><h3>Data</h3></th>
                                <th scope="col"><h3>Horário</h3></th>
                                <th scope="col"><h3>Valor</h3></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let don of doadores">
                            <tr ([ngModel])="doacoes" *ngFor="let d of doacoes" >

                                <th *ngIf="don.id === d.doador">
                                    <p>{{d.id}}</p>
                                </th>
                                <td *ngIf="don.id === d.doador">
                                    <p >{{don.nome}}</p>
                                </td>
                                <td *ngIf="don.id === d.doador">
                                    <p *ngFor="let i of instituicao">
                                        <a id="inst" *ngIf="i.id === d.instituicao">{{i.nome}}</a>
                                    </p>
                                </td>
                                <td *ngIf="don.id === d.doador">
                                    <p>{{d.data_doacao}}</p>
                                </td>

                                <td *ngIf="don.id === d.doador">
                                    <p>{{d.horario_doacao}}</p>
                                </td>
                                <td *ngIf="don.id === d.doador">
                                    <p>{{d.valor | currency: 'BRL'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </section>
        </div>

    </ng-sidebar-container>
</body>

</html>